<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is home page...</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, libero
      mollitia vero ad perspiciatis totam dolores necessitatibus cum, adipisci
      sequi repudiandae assumenda illo nesciunt rem saepe animi dolor
      exercitationem quia. Voluptates iure ad dolor nostrum, vel dignissimos.
      Ex, officia soluta quisquam dolorem vitae porro eius dolore perferendis ea
      aut repudiandae recusandae, enim nobis veritatis illo qui deserunt et
      voluptas perspiciatis? Minima rerum unde quia iste asperiores ex a,
      blanditiis nobis, soluta vitae reprehenderit, modi nihil magni? Animi
      architecto, nam quidem ea maxime molestiae similique atque quia, illum
      maiores fugiat exercitationem. Eligendi totam sapiente, delectus dolore,
      natus ab quisquam quidem temporibus minima maiores quis ea? Incidunt,
      officia ex soluta quo commodi repudiandae excepturi minima debitis veniam
      voluptatibus facere itaque qui rem. Recusandae quas alias atque, veritatis
      pariatur voluptatem. Optio facilis atque repudiandae enim alias, numquam
      autem harum debitis molestias, nemo sit odit, dolores inventore ipsa
      voluptas amet. Incidunt sequi hic libero!
    </p>
    <button>Click me!!!</button>
  </body>
</html>
